body {
	padding: 20px;
}
.w-100 {
	width:100%;
}
.row {
	position:relative;
	clear:both;
	padding-left: 20px;
	padding-right: 20px;
}
.col-xs-6,
.col-xs-12 {
	float:left;
	margin-left: -20px;
	margin-right: -20px;
}
.col-xs-6 {
	width:50%;
}
